# Dummy data creation representing Q1 2021 (iteration 1)
<hr>
<b>Warning:</b><br>
When this file is run, the data exported in the file <u>iteration-1-Q1.csv</u> will be updated.<br>
This <u>might not be the same</u> as what is showned on the Technical Documentation.
<hr>

In [1]:
# Remove the warnings for presentation of the notebook. During the development, the warnings were not ignored.
import warnings
warnings.filterwarnings('ignore')

First, import numpy and pandas library, then read the Q4 dummy dataset.

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('Q4-all.csv')
df.head()

,Unnamed: 0,userID,companyID,country,timestamp,year,quarter,month,weekNumber,dayNumber,activity,page
0,0,34,5,Indonesia,2020-10-04 23:02:44,2020,4,10,40,4,Page,https://en.wikipedia.org/wiki/Financial_services
1,1,145,44,Turkey,2020-10-22 19:26:33,2020,4,10,43,22,Page,https://en.wikipedia.org/wiki/Financial_techno...
2,2,195,8,Turkey,2020-12-31 09:02:33,2020,4,12,53,31,Event,https://en.wikipedia.org/wiki/Bookkeeping
3,3,16,7,Turkey,2020-11-17 16:32:24,2020,4,11,47,17,Page,https://en.wikipedia.org/wiki/Main_Page
4,4,65,42,Turkey,2020-12-02 01:32:00,2020,4,12,49,2,Event,https://en.wikipedia.org/wiki/Financial_services

In the below cell, using random and datetime libraries, the timestamp column was updated with assignment of random date and time within Q1 2021 for the entirety of 100 thousand user activity rows. All the re-assignment of random values were done to make sure Q1 dataset is different than Q4.

In [4]:
from random import randrange
from datetime import timedelta
from datetime import datetime

timestamp = []

for x in range(100000):
        def random_date(start, end):
            delta = end - start
            int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
            random_second = randrange(int_delta)
            return start + timedelta(seconds=random_second)
        d1 = datetime.strptime('1/1/2021 00:00', '%m/%d/%Y %H:%M')
        d2 = datetime.strptime('3/31/2021 23:59', '%m/%d/%Y %H:%M')
        time = random_date(d1, d2)
        timestamp.append(time)
        
df['timestamp'] = timestamp
df.head()

,Unnamed: 0,userID,companyID,country,timestamp,year,quarter,month,weekNumber,dayNumber,activity,page
0,0,34,5,Indonesia,2021-01-25 08:30:42,2020,4,10,40,4,Page,https://en.wikipedia.org/wiki/Financial_services
1,1,145,44,Turkey,2021-03-04 13:03:02,2020,4,10,43,22,Page,https://en.wikipedia.org/wiki/Financial_techno...
2,2,195,8,Turkey,2021-03-26 19:33:11,2020,4,12,53,31,Event,https://en.wikipedia.org/wiki/Bookkeeping
3,3,16,7,Turkey,2021-01-19 06:55:05,2020,4,11,47,17,Page,https://en.wikipedia.org/wiki/Main_Page
4,4,65,42,Turkey,2021-03-26 09:37:59,2020,4,12,49,2,Event,https://en.wikipedia.org/wiki/Financial_services

More columns were created based on the extraction of the timestamp, such as year, quarter, month, week, and day.

In [5]:
df['year'] = pd.DatetimeIndex(df['timestamp']).year
df['quarter'] = pd.DatetimeIndex(df['timestamp']).quarter
df['month'] = pd.DatetimeIndex(df['timestamp']).month
df['weekNumber'] = pd.DatetimeIndex(df['timestamp']).week
df['dayNumber'] = pd.DatetimeIndex(df['timestamp']).day
df.head()

,Unnamed: 0,userID,companyID,country,timestamp,year,quarter,month,weekNumber,dayNumber,activity,page
0,0,34,5,Indonesia,2021-01-25 08:30:42,2021,1,1,4,25,Page,https://en.wikipedia.org/wiki/Financial_services
1,1,145,44,Turkey,2021-03-04 13:03:02,2021,1,3,9,4,Page,https://en.wikipedia.org/wiki/Financial_techno...
2,2,195,8,Turkey,2021-03-26 19:33:11,2021,1,3,12,26,Event,https://en.wikipedia.org/wiki/Bookkeeping
3,3,16,7,Turkey,2021-01-19 06:55:05,2021,1,1,3,19,Page,https://en.wikipedia.org/wiki/Main_Page
4,4,65,42,Turkey,2021-03-26 09:37:59,2021,1,3,12,26,Event,https://en.wikipedia.org/wiki/Financial_services

Again, using random library, the activity column was updated with assignment of random Page and Event.

In [6]:
df['activity'] = np.random.randint(1,3,df.shape[0])
df['activity'] = df['activity'].replace(1, 'Page')
df['activity'] = df['activity'].replace(2, 'Event')
df.head()

,Unnamed: 0,userID,companyID,country,timestamp,year,quarter,month,weekNumber,dayNumber,activity,page
0,0,34,5,Indonesia,2021-01-25 08:30:42,2021,1,1,4,25,Page,https://en.wikipedia.org/wiki/Financial_services
1,1,145,44,Turkey,2021-03-04 13:03:02,2021,1,3,9,4,Event,https://en.wikipedia.org/wiki/Financial_techno...
2,2,195,8,Turkey,2021-03-26 19:33:11,2021,1,3,12,26,Page,https://en.wikipedia.org/wiki/Bookkeeping
3,3,16,7,Turkey,2021-01-19 06:55:05,2021,1,1,3,19,Page,https://en.wikipedia.org/wiki/Main_Page
4,4,65,42,Turkey,2021-03-26 09:37:59,2021,1,3,12,26,Event,https://en.wikipedia.org/wiki/Financial_services

Lastly, the same random assignment was done to the web pages values. The pages values were the same with the Q4 values.

In [7]:
import random

webPages_ori = [
    'https://en.wikipedia.org',
    'https://en.wikipedia.org/wiki/Main_Page',
    'https://en.wikipedia.org/wiki/Financial_services',
    'https://en.wikipedia.org/wiki/Financial_technology',
    'https://en.wikipedia.org/wiki/Accounting',
    'https://en.wikipedia.org/wiki/Bookkeeping',
]

webPages_random = []

for x in range(100000) :
    page = random.choice(webPages_ori)
    webPages_random.append(page)
    
df['page'] = webPages_random
df.head()

,Unnamed: 0,userID,companyID,country,timestamp,year,quarter,month,weekNumber,dayNumber,activity,page
0,0,34,5,Indonesia,2021-01-25 08:30:42,2021,1,1,4,25,Page,https://en.wikipedia.org/wiki/Main_Page
1,1,145,44,Turkey,2021-03-04 13:03:02,2021,1,3,9,4,Event,https://en.wikipedia.org/wiki/Bookkeeping
2,2,195,8,Turkey,2021-03-26 19:33:11,2021,1,3,12,26,Page,https://en.wikipedia.org/wiki/Financial_services
3,3,16,7,Turkey,2021-01-19 06:55:05,2021,1,1,3,19,Page,https://en.wikipedia.org/wiki/Main_Page
4,4,65,42,Turkey,2021-03-26 09:37:59,2021,1,3,12,26,Event,https://en.wikipedia.org/wiki/Financial_services

The dataset was then ready to be put into csv for further use.

In [8]:
df.to_csv('../iteration-1/algorithm/iteration-1-Q1.csv')
df.to_csv('../iteration-2/algorithm/iteration-1-Q1.csv')